.background-container {
    background-image: linear-gradient(#FDB298, #B176FE);
    width: 100%;
}

.calendar-container {
    width: 55%;
    margin: auto;
    position: relative;
    top: -500px;
    padding-top: 200px;
}

.weekdays-container{
    display: flex;
    margin: auto;
    justify-content: space-around;
    background-color: white;
}

.weekdays-container .week-day {
    color: #808080;
}